# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
sources/node_modules
sources/.pnp
sources/.pnp.js

# testing
sources/coverage

# next.js
sources/.next/
sources/out/

# production
sources/build

# misc
sources/.DS_Store
sources/*.pem

# debug
sources/npm-debug.log*
sources/yarn-debug.log*
sources/yarn-error.log*
sources/.pnpm-debug.log*

# local env files
sources/.env*.local

# vercel
sources/.vercel
