@import './variables.scss';

.title {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem;
  font-size: 2rem;
}
.article {
  color: $textLight;
  margin: 0 auto;
}
.list {
  padding: 0;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  &__item {
    padding: 2rem 2rem 4rem 2rem;
    font-weight: bold;
    color: $textLight;
    width: 33.33%;
    &__title {
      font-size: 1.5rem;
      color: $dark;
      margin-bottom: 1rem;
    }
    &__body {
      font-weight: normal;
    }
    &__date {
      text-transform: uppercase;
    }
  }
}

@include sizeXl {
  .list__item {
    width: 50%;
  }
}
@include sizeLg {
  .list__item {
    width: 100%;
  }
}
@include sizeMd {
  .list__item {
    padding: 2rem 0 4rem 0;
  }
}
@include sizeSm {
  .list {
    margin: 0;
  }
}